* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'EudoxusSans-Regular';
}


@font-face {
  font-family: 'Satoshi-Bold';
  src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
       url('../fonts/Satoshi-Bold.woff') format('woff'),
       url('../fonts/Satoshi-Bold.ttf') format('truetype');
       font-weight: 700;
       font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url('../fonts/Satoshi-Medium.woff2') format('woff2'),
       url('../fonts/Satoshi-Medium.woff') format('woff'),
       url('../fonts/Satoshi-Medium.ttf') format('truetype');
       font-weight: 500;
       font-style: normal;
}

@font-face {
  font-family: 'EudoxusSans-Regular';
  src: url('../fonts/EudoxusSans-Regular.woff2') format('woff2'),
       url('../fonts/EudoxusSans-Regular.woff') format('woff'),
       url('../fonts/EudoxusSans-Regular.ttf') format('truetype');
       font-weight: 500;
       font-style: normal;
}

@font-face {
  font-family: 'EudoxusSans-Medium';
  src: url('../fonts/EudoxusSans-Medium.woff2') format('woff2'),
       url('../fonts/EudoxusSans-Medium.woff') format('woff'),
       url('../fonts/EudoxusSans-Medium.ttf') format('truetype');
       font-weight: 500;
       font-style: normal;
}

@font-face {
  font-family: 'EudoxusSans-Bold';
  src: url('../fonts/EudoxusSans-Bold.woff2') format('woff2'),
       url('../fonts/EudoxusSans-Bold.woff') format('woff'),
       url('../fonts/EudoxusSans-Bold.ttf') format('truetype');
       font-weight: 700;
       font-style: normal;
}

@font-face {
  font-family: 'EudoxusSans-ExtraBold';
  src: url('../fonts/EudoxusSans-ExtraBold.woff2') format('woff2'),
       url('../fonts/EudoxusSans-ExtraBold.woff') format('woff'),
       url('../fonts/EudoxusSans-ExtraBold.ttf') format('truetype');
       font-weight: 800;
       font-style: normal;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px 24px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 32px 0;
  padding: 0 55px;

  nav {
    display: flex;
    gap: 55px;

    a {    
      font-family: 'EudoxusSans-Bold';
      font-size: 14px;
      line-height: 18px;
      display: flex;
      align-items: flex-end;
      letter-spacing: -0.02em;
      color: #181945;
      text-decoration: none;
      text-transform: capitalize;
    }
  }
}

.logo {
  a {
    text-decoration: none;
    display: flex;
    align-items: flex-end;

    span {
      font-family: 'EudoxusSans-ExtraBold';
      font-size: 24px;
      color: #181945;
      letter-spacing: -0.02em;
      padding: 0 0 0 10px;
    }
  }
}

.book-appointment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 174px;
  height: 48px;
  font-family: 'EudoxusSans-Bold';
  background: #583FBC;
  border-radius: 12px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
}

.slider {
  width: 100%;
  
  .slide {
    display: flex;
    gap: 67px;
    position: relative;
    border-radius: 48px;
    padding: 145px 107px 140px 107px;
    background-image: 
    url(../assets/indoor-shot-happy-young-woman.png), 
    url(../assets/icons/teeth.png), 
    url(../assets/icons/shield.png), 
    url(../assets/background/vector-lines.png), 
    url(../assets/background/pattern.png);
    background-position: 
    825px 50px,
    750px 84px,
    1230px 488px,
    0px 72px, 
    783px 263px;
    background-color: #DBEFFA;
    background-repeat: no-repeat;

    .slide-left {
      display: flex;
      flex-direction: column;
      gap: 32px;
      max-width: 560px;

      .slide-title {
        font-family: 'EudoxusSans-Bold';
        font-size: 64px;
        line-height: 81px;
        letter-spacing: -0.04em;
      }

      .slide-content {
        margin: 0 0px 40px 0;
        font-family: 'EudoxusSans-Medium';
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.02em;
        color: #181945;
        opacity: 0.7;
      }

      .slider-buttons {
        display: flex;
        gap: 48px;
      }

      .slider-button {
        width: 240px;
        height: 64px;
        word-spacing: 0px;
        font-size: 16px;
        letter-spacing: 1px;
        font-family: "EudoxusSans-Bold";
      }

      .call-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 0 80px;
        background: url(../assets/icons/phone.png) no-repeat;
        text-decoration: none;

        span {
          font-family: "EudoxusSans-Bold";
          text-transform: uppercase;
        }

        .call-button-text {
          padding: 0 0 7px 0;
          font-size: 12px;
          letter-spacing: 0.08em;
          color: #583FBC;
        }

        .call-button-phone {
          font-size: 16px;
          letter-spacing: -0.02em;
          color: #181945;
        }
      } 
    }

    .slide-right {
      display: flex;
      align-items: flex-end;

      .active-doctor {
        position: relative;
        top: 62px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 9px;
        width: 270px;
        height: 88px;
        padding: 0 0 0 95px;
        background: url(../assets/doctor.png) 18px center #FFFFFF no-repeat;
        box-shadow: 0px 32px 64px -16px rgba(24, 25, 69, 0.1);
        border-radius: 24px;
        

        .doctor-name {
          font-family: "EudoxusSans-Bold";
          font-size: 14px;
          letter-spacing: -0.02em;
          color: #181945;
        }

        .doctor-position {
          font-family: "EudoxusSans-Bold";
          font-size: 12px;
          letter-spacing: -0.02em;
          color: #181945;
          opacity: 0.6;
        }
      }

      .active-doctor::before {
        content: '';
        width: 12px;
        height: 12px;
        position: absolute;
        left: 62px;
        top: 58px;
        background: #1FC073;
        border: 2px solid #FFFFFF;
        border-radius: 50px;
      }

    }
  }

  .slide::before {
    content: '';
    position: absolute;
    right: 143px;
    top: 127px;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    background: #7B55EC;
  }

  .slide::after {
    content: '';
    position: absolute;
    right: 61px;
    top: 350px;
    width: 26px;
    height: 26px;
    border-radius: 50px;
    background: #7ABADD;
  }

  .slide-left::before {
    content: '';
    position: absolute;
    right: 606px;
    top: 470px;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background: #583FBC;
  }
}

.slogan {
  position: relative;
  max-width: 840px;
  margin: 0 auto;
  padding: 152px 0 146px;
  font-family: 'EudoxusSans-Medium';
  font-size: 36px;
  line-height: 72px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #181945;

  &::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 4px;
    margin: 0 auto;
    bottom: 120px;
    transform: translate(-130%, 50%);
    background: #583FBC;
    border-radius: 2px;
  }
}

.services {
  margin: 0 0 200px 0;
  padding: 0 55px;

  .services-header {
    display: flex;
    gap: 163px;
    margin-bottom: 94px;

    .services-header-titles {
      font-family: "EudoxusSans-Bold";

      .services-title {
        padding: 0 0 20px 0px;
        font-size: 12px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #583FBC;
        font-weight: bold;
      }

      h2 {
        max-width: 520px;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: -1px;
        color: #181945;
      }
    }

    .services-header-text {
      max-width: 530px;
      padding: 51px 0 0 0;
      font-family: 'EudoxusSans-Medium';
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.02em;
      color: #181945;
      opacity: 0.6;
    }
  }

  .services-items {
    display: flex;
    gap: 42px;
    margin: 0 0 98px 0;

    .services-item {
      padding: 15px 15px 35px;
      background: #FFFFFF;
      border: 1px solid rgba(24, 25, 69, 0.1);
      border-radius: 32px;

      &:nth-child(1) .services-item-top {
        background: #DBEFFA;
      }

      &:nth-child(2) .services-item-top {
        background: #DBDEFA;
      }

      &:nth-child(3) .services-item-top {
        background: #F6DBFA;
      }

      &:nth-child(4) .services-item-top {
        background: #FADBE2;
      }

      .services-item-top {
        min-height: 200px;
        margin: 0 0 25px 0;
        border-radius: 32px;

        img {
          display: block;
          margin: 0 auto;
          padding: 50px 0 0 0;
        }
      }

      .services-item-title {
        margin: 0 0 15px 0;
        font-family: "EudoxusSans-Bold";
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #181945;
      }

      .services-item-content {
        font-family: 'EudoxusSans-Medium';
        font-size: 16px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #181945;
        opacity: 0.5;
      }
    }

  }

  .all-services-button {
    display: block;
    margin: 0 auto;
    max-width: 240px;
    text-align: center;
    background: rgba(88, 63, 188, 0.1);
    border-radius: 16px;
    font-family: "EudoxusSans-Bold";
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #583FBC;
    text-decoration: none;
    padding: 14px 15px 21px 0;

    img {
      position: relative;
      top: 5px;
      right: -16px;
    }
  }
}

.dental-emergency {
  display: flex;
  gap: 235px;

  .patient {
    position: relative;

    img {
      position: relative;
      top: 63px;
      left: 125px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 55px;
      width: 400px;
      height: 510px;
      background: #DBEFFA;
      border-radius: 32px;
    }
  }

  .dental-content {
    padding: 58px 0 0 0;

    .dental-title {
      padding: 0 0 20px 0px;
      font-size: 12px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #583FBC;
      font-weight: bold;
    }

    h2 {
      max-width: 565px;
      font-size: 48px;
      line-height: 60px;
      letter-spacing: -1px;
      color: #181945;
    }

    .dental-content-text {
      max-width: 510px;
      padding: 22px 0 72px 0;
      font-family: "EudoxusSans-Medium";
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.02em;
      color: #181945;
      opacity: 0.6;
    }

    .dental-button {
      width: 240px;
      height: 65px;
      font-size: 16px;
    }
  }
}

.features {
  margin: 205px 0 150px 0;
  padding: 98px 230px 135px 277px;
  background: #DBDEFA;
  border-radius: 48px;

  .features-title {
    padding: 0 0 20px 0px;
    font-size: 12px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #583FBC;
    font-weight: bold;
  }

  h2 {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1px;
    color: #181945;
  }

  .features-text {
    padding: 22px 0 103px 0;
    font-family: "EudoxusSans-Medium";
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.8;
  }

  .features-items {
    display: flex;
    flex-wrap: wrap;
    gap: 70px 72px;

    .feature-item {
      display: flex;
      gap: 21px;
      width: 45%;

      img:hover {
        filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.25));
      }
  
      .feature-wrapper {
        display: flex;
        flex-direction: column;
        padding: 6px 0 0 0;
  
        .feature-title {
          padding: 0 0 11px 0;
          font-family: "EudoxusSans-Bold";
          font-size: 20px;
          letter-spacing: -0.02em;
          color: #181945;
        }
  
        .feature-content {
          font-family: "EudoxusSans-Medium";
          font-size: 16px;
          line-height: 26px;
          letter-spacing: -0.02em;
          color: #181945;
          opacity: 0.5;
        }
      }
    }
  }
}

.experts-in-dental {
  display: flex;
  gap: 200px;
  margin: 0 0 198px 0;

  .experts-content {
    padding: 62px 0 0 128px;

    .experts-in-dental-title {
      padding: 0 0 20px 0px;
      font-size: 12px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #583FBC;
      font-weight: bold;
    }

    h2 {
      font-size: 48px;
      line-height: 60px;
      letter-spacing: -1px;
      color: #181945;
    }

    .experts-in-dental-text {
      padding: 22px 75px 35px 0;
      font-family: "EudoxusSans-Medium";
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.02em;
      color: #181945;
      opacity: 0.6;
    }

    ul {
      padding: 0 0 0 30px;
      list-style: none;
      
      li {
        position: relative;
        letter-spacing: -0.02em;
        color: #181945;
        padding: 0 0 23px 0;
        font-family: "EudoxusSans-Medium";
        word-spacing: 3px;

        &::before {
          content: '';
          position: absolute;
          left: -35px;
          width: 20px;
          height: 20px;
          background: url(../assets/icons/marker.png) no-repeat;
        }
      }
    }
  }

  .expert {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: -14px;
      width: 437px;
      height: 510px;
      background: #FADBE2;
      border-radius: 32px;
    }

    img {
      position: relative;
      top: 59px;
      left: -126px;
    }
  }
}

.testimonial {
  display: flex;
  gap: 135px 160px;
  flex-wrap: wrap;
  margin: 0 0 155px 0;
  padding: 100px 55px 125px;
  border-radius: 48px;
  background: #DBEFFA;

  .testimonial-titles {
    max-width: 570px;
    padding: 0 0 0 70px;

    .testimonial-title {
      padding: 0 0 20px 0px;
      font-size: 12px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #583FBC;
      font-weight: bold;
    }
  
    h2 {
      font-size: 48px;
      line-height: 60px;
      letter-spacing: -1px;
      color: #181945;
    }
  }

  .testimonial-text {
    max-width: 450px;
    padding: 51px 0 0 0;
    font-family: "EudoxusSans-Medium";
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.6;
  }

  .reviews {
    display: flex;
    gap: 40px;

    .review {
      width: 400px;
      height: 287px;
      margin: 10px 0 0 0;
      background: #FFFFFF;
      border-radius: 32px;

      .review-image {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        position: relative;
        top: -55px;
        border-radius: 90px;
        border: 10px solid #DBEFFA;
      }

      .review-name {
        position: relative;
        top: -30px;
        font-family: "EudoxusSans-Bold";
        font-size: 18px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #181945;
      }

      .review-content {
        text-align: center;
        font-family: "EudoxusSans-Medium";
        letter-spacing: -0.02em;
        color: #181945;
        opacity: 0.5;
        top: -15px;
        line-height: 24px;
        padding: 0 40px;
        position: relative;
      }

      .review-stars {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 20px 0 0 0;
      }
    }
  }
}

.blog {
    
  .blog-title {
    padding: 0 0 20px 0px;
    font-size: 12px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #583FBC;
    font-weight: bold;
    text-align: center;
  }

  h2 {
    margin: 0 0 93px 0;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1px;
    color: #181945;
    text-align: center;
  }

  .blog-items {
    display: flex;
    gap: 40px;
    padding: 0 55px;

    .blog-item {
      position: relative;
      max-width: 400px;
      height: 480px;
      padding: 15px;
      background: #FFFFFF;
      border: 1px solid rgba(24, 25, 69, 0.1);
      border-radius: 32px;

      .blog-item-date {
        position: absolute;
        top: 32px;
        left: 32px;
        width: 60px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #FFFFFF;
        border-radius: 16px;
        font-family: "EudoxusSans-Bold";
        font-size: 18px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #181945;

        span {
          display: block;
          font-size: 14px;
          font-weight: bold;
          color: rgba(24, 25, 69, 0.6);
        }
      }

      .blog-item-image {
        margin: 0 0 24px 0;

        img {
          border-radius: 32px;
        }
      }
      
      .blog-item-category {
        padding: 0 0 12px 10px;
        font-size: 12px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #583FBC;
        font-weight: bold;
      }

      .blog-item-title {
        font-family: "EudoxusSans-Bold";
        font-size: 18px;
        letter-spacing: -0.02em;
        color: #181945;
        line-height: 26px;
        padding: 0 0 15px 10px;
      }

      .blog-item-content {
        font-family: "EudoxusSans-Medium";
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.02em;
        color: #181945;
        opacity: 0.5;
        padding: 0 10px;
      }
      
    }
  }
}